<div class="chat-panel clearfix;">
    <div class="container">
        <div class="message-box" *ngFor="let message of this.chatService.messageList | async">
            <div class="message-user"> {{ message.user }} </div>
            <div class="message-content"> {{ message.content }} </div>
            <div class="message-time"> {{ message.time | date:"short" }}</div>
        </div>
    </div>
    
    <div class="input-box">
        <form>
            <textarea class="new-message-content" placeholder="New Message" [(ngModel)]="textContent" name="newMessage"></textarea>
            <button class="new-message-btn" (click)="addMessage(); textContent=''"> Input your new message </button>
        </form>
    </div>
</div>

