$color-primary: #ff5722;
$color-primary-light: #ff8a50;
$color-primary-dark: #c41c00;

$color-white: #FFFFFF;
$color-black: #000000;

$color-light-grey: #DDDDDD;
$color-dark-grey: #222222;

.panel {
    position: relative;
    float:left;
    left: 0;
    top: 0;
    width: 20%;
    background-color: $color-primary;
}

.room-list {
    list-style: none;
    margin-left: 1rem;
}
.room-item {
    margin:0;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    transition: all .2s;
    &:hover {
        transform: translateX(1rem) scale(1.1);
    }
}

.room-item:hover{
    cursor: default;
}

.room-container {
    text-align: center;
}
.new-room-input {
    width: 90%;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.new-room-btn {
    width: 40%;
}
.heading {
    text-align:center;
    margin: 1rem;
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.heading-tertiary {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 300;
}