.panel {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color:#B39DDB;
}

.current-room {
    position: relative;
    width: 50%;
    margin: 20px auto;
    font-size: 1.2rem;
    font-family: 'Zilla Slab', serif;
}


.room-item {
    margin:0;
}

.room-item:hover{
    cursor: default;
}

md-input-container.room-container {
    display: block;
    width:200px;
    margin: auto;
}
input.mat-input-element.new-room-input {
    color: white;
}

button.mat-raised-button.new-room-button {
    min-width:200px;
    border:0;
    padding:0;
    margin: 0 50px 0 50px;
    line-height: 20px;
}
.mat-list-item.room-item-list {
    height: 30px;
}
