
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
<div class="panel">
    <div class="heading">
        <h2 class="heading-secondary"> Welcome to Chatty! </h2>
        <h3 class="heading-tertiary"> Get your chat on </h3>
    </div>

    <ul class="room-list">
        <li class="room-item" *ngFor="let room of roomsArray">
            <span class="room-item"
            (click)="setFeatured(room.$key)"> {{ room.name }} </span>
        </li>
    </ul>
    <form>
        <div class="room-container">
            <input class="new-room-input" placeholder="New room name" [(ngModel)]="newRoomName" name="newname" />
            <button class="btn new-room-btn" (click)="addRoom()"> Create a new room! </button>
        </div>
    </form>
</div>
