/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$color-light-grey: #DDDDDD;
$color-primary: #ff5722;

*,
*::before,
*::after, {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
    background: $color-light-grey;
    z-index: 0;
}

.side-panel-background {
    background: $color-primary;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:20%;

}

.btn {
    border: 0;
    background-color:#c41c00;
    color: white;
    transition: all .2s;
    padding: .5rem;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 1.5rem .75rem rgba(0,0,0,.4);
    }

    &:active{
        transform: translateY(-2px);
        box-shadow: 0 1rem .5rem rgba(0,0,0,.4);
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}